.App-header {
  height: 50px;
  display: flex;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: #ebb6b6;
}
.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #4065ad;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.img {
  float: center;
  margin-right: 20px; /* Add right margin so that the text does not touch the image */
}
