.App-header {
  height: 50px;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #282c34;
  color: white;
  padding: 10px;
}
body {
  background-color: lightgrey; /* Replace with the desired color */
}

.img {
  float: left;
  margin-right: 20px; /* Add right margin so that the text does not touch the image */
}
